main {
  margin: 0 auto;
  max-width: 500px;
}

.chart-wrapper {
  margin-bottom: 80px;
  position: relative;
}

.chart-wrapper>canvas,
.chart-wrapper>svg {
  width: 100%;
  height: 250px;
}

.chart-wrapper>svg {
  height: 275px;
}

body {
  background-color: #fff;
  transition: background-color 0.3s ease;
}

button {
  cursor: pointer;
}

footer {
  text-align: center;
}

.chart-axises {
  position: absolute;
  top: 0;
  left: 0;
}

/* LIGHT GLOBAL */
.default {
  color: #222;
  background-color: #fff;
}

.chart-axises text {
  fill: #8E8E93;
}

/* svg[data-color-theme="onlines"] .chart-axises text {
  fill: #8E8E93;
}
svg[data-color-theme="followers"] .chart-axises text {
  fill: #8E8E93;
} */
svg[data-color-theme="apps"] .chart-axises text {
  fill: #252529;
  opacity: .5;
}

/* --axis-tick-color: #546778;
--axis-tick-color: #96a2aa; */
.scroll-selector {
  background-color: #C0D1E1;
}

.magnifier__thumb {
  border: 1px solid #C0D1E1;
}

.scroll-background {
  background-color: #E2EEF9;
  opacity: .6;
}

.toggle-mode-btn {
  color: #108be3;
}

.chart-tooltip {
  background-color: #fff;
}

.zoom-out-text {
  color: #108BE3;
}

.chart-tooltip.arrow {
  color: #D2D5D7;
}

.axis-line line {
  stroke: #182D3B;
  opacity: .1;
}

/* DARK GLOBAL */
.default.dark {
  color: #fff;
  background-color: #242f3e;
}

.dark .chart-axises text {
  fill: #A3B1C2;
  opacity: .6;
}

.dark [data-color-theme="apps"] .tick-x text {
  fill: #A3B1C2;
  opacity: .6;
}

.dark [data-color-theme="apps"] .tick-y text {
  fill: #ECF2F8;
  opacity: .5;
}

.dark .scroll-selector {
  background-color: #56626D;
}

.dark .scroll-background {
  background-color: #304259;
  opacity: .6;
}

.dark .chart-tooltip {
  background-color: #242f3e;
}

.dark .magnifier__thumb {
  border: 1px solid #C0D1E1;
}

.dark .zoom-out-text {
  color: #48AAF0;
}

.dark .chart-tooltip.arrow {
  color: #D2D5D7;
}

.dark .axis-line line {
  stroke: #FFFFFF;
  opacity: .1;
}

.dark .toggle-mode-btn {
  color: #36a8f1;
}

/* TOOLTIP  */
.chart-tooltip.active {
  opacity: 1;
  transform: scale(1);
  /* transition: all .3s ease; */
}

.chart-tooltip ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.chart-tooltip li {
  flex: 1;
  margin-right: 15px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.chart-tooltip li:last-child {
  margin-right: 0px;
  /* margin-bottom: 10px; */
}

.tooltip-item-name {
  font-size: 14px;
  font-weight: bold;
  flex: 1;
}

.tooltip-item-value {
  font-size: 0.9em;
  text-align: right;
  width: 30px;
}

.tooltip-list {
  max-width: 100px;
}

.chart-tooltip {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  /* background: var(--page-bg); */
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: opacity 0.3s ease;
  /* visibility: hidden; */
  transform: scale(0);
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chart-tooltip h5 {
  margin: 0;
  font-size: 12px;
  margin-bottom: 12px;
}

.tick-wrapper-x text,
.tick-wrapper-y text {
  font-size: 12px;
}


.toggle-mode-btn {
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  line-height: 30px;
  box-shadow: none;
  border: none;
  background: none;
}

.minimap {
  position: relative;
}

.magnifier {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}

.magnifier__thumb {
  position: absolute;
  width: 10px;
  height: calc(100% - 4px);
  left: 0px;
  background-color: transparent;
}


.minimap-thumb__control {
  position: absolute;
  width: 10px;
  height: calc(100% + 4px);
  top: -2px;
  cursor: col-resize;
}

.minimap-thumb__control:before {
  content: '';
  width: 2px;
  height: 16px;
  background: transparent;
  position: absolute;
  /* left: -4px; */
  background: #fff;
  top: 50%;
  /* left: 3px; */
  transform: translateY(-50%);
}

.magnifier_shadow {
  /* background: rgba(0, 0, 0, 0.1); */
  position: absolute;
  height: 100%;
}

.magnifier_shadow.left {
  left: 0;
}

.magnifier_shadow.right {
  right: 0;

}

.minimap-thumb__control.left {
  left: -12px;
  border-radius: 8px 0 0px 8px;
}

.minimap-thumb__control.left:before {
  left: 5px;
}

.minimap-thumb__control.right:before {
  right: 5px;
}

.minimap-thumb__control.right {
  right: -12px;
  /* cursor: none; */
  border-radius: 0 8px 8px 0;
}

.resize-cursor {
  position: absolute;
  top: 0;
  width: 0px;
  height: 0px;
  transform: scale(0);
  border-radius: 50%;
  transform-origin: 50% 50%;
  background: red;
  transition: all 0.3s ease;
}

.resize-cursor.mount {
  width: 50px;
  height: 50px;
  transform: scale(1);
  transition: all 0.3s ease;
}

.pulse {
  --color: #ef6eae;
  --hover: #dfdfdf;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse-out {
  100% {
    box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);
  }
}



.chart-line {
  transform: scaleY(1) translate(0, 0px);
  opacity: 1;
  transition: transform .3s ease, opacity .2s ease;
}

.chart-line.remove {
  transform: scaleY(1.5) translate(0, -300.6px);
  opacity: 0;
  transition: transform .4s ease, opacity .3s ease .2s;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  color: currentColor;
  position: absolute;
  top: 6px;
  transform-origin: center;
  left: 7px;
  z-index: 1;
}

.target:before {
  content: '';
  color: currentColor;
  position: absolute;
  margin-left: -6px;
  margin-top: 5px;
  width: 10px;
  height: 5px;
  transform-origin: 50% 50%;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  transition: all .3s ease .2s;
}

.chart {
  margin-bottom: 30px;
}

.minimap {
  margin-bottom: 40px;
}

.toggle-btn {
  margin-right: 4px;
  margin-bottom: 4px;
}

.dot {
  content: '';
  color: #000;
  position: absolute;
  width: 15px;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  height: 15px;
  border-radius: 50%;
  transition: all .3s ease;
}

.pulse .active.target:before {
  transform: scale(.5);
  transition: all .3s ease;
}

.pulse .active .dot {
  transform: translate(-50%, -50%) scale(1);
  transition: all .3s ease .2s;
}

.pulse {
  padding: 8px 13px;
  padding-left: 30px;
  position: relative;
  background: none;
  /* border: 2px solid var(--btn-border, #000); */
  border-radius: 20px;
  border: none;
}

.pulse .on {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);
}

.pulse .off {
  -webkit-animation: pulse-out .5s;
  animation: pulse-out .5s;
  box-shadow: 0 0 0 0 rgba(223, 223, 223, .8);
}